<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><strong>Отчеты по стану 212</strong></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav" style="width: 280px;">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> Отчет по плавкам годного
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/coilsByShift">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> Годного за смену по часам
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/coilsByDay">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> Годного за сутки по часам
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/shiftReports">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> Годного за смену
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dailyReports">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> Годного за сутки
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/downTimesShift">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> Простои за смену
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/downTimesDays">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> Простои за сутки
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ingotsWeight">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> &beta; Вес заготовок
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/productionShift">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> &beta; Производство за смену
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/productionDay">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> &beta; Производство за сутки
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}